.pupColorLabel {
  /* background-color: lightblue; */
  positison: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  font-size: x-large;
}
#pupColorInput {
  opacity: 0;
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}
.floating {
  background-size: cover;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
