.to-do-holder {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.item-holder {
  display: flex;
  align-items: center;
}
.btn-space {
  /* width: px; */
}
.todo-btn {
  /*  */
}
.pupcardbody {
  /* background-color: beige; */
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  overflow: hidden;
  background-size: 300%;
}
#somewhereDefault {
  /* background-color: pink; */
  background-color: white;
}
#someBeach {
  /* background-color: blue; */
  opacity: 0.8;

  background-image: url(../../images/beach.jpg);
}
#someCamping {
  opacity: 0.8;
  /* background-color: green; */
  background-image: url(../../images/campingClip.jpg);
}
#someDayForest {
  /* background-color: green; */
  opacity: 0.8;

  background-image: url(../../images/daytimeForestClip.jpg);
}
#someSunsetForest {
  /* background-color: green; */
  opacity: 0.8;
  background-image: url(../../images/sunsetForestClip.jpg);
}
#someSpace {
  color: white;
  font-weight: bold;
  /* background-color: green; */
  background-image: url(../../images/space.jpg);
}
#someWinter {
  opacity: 0.8;

  /* background-color: green; */
  background-image: url(../../images/winter.jpg);
}
#someWoods {
  opacity: 0.8;

  /* background-color: green; */
  background-image: url(../../images/woods.jpg);
}
