nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  white-space: nowrap;
}
.nav-ul {
  text-transform: lowercase;
  justify-content: space-evenly;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-li {
  margin-left: 1vmax;
  margin-right: 1vmax;
}
